// -----------------------------------------------------------------------------
// Component  : NotFound styles
// Created on : 23/3/2019 19:11:50
// Created by : Vaibhav Shringarpure
// -----------------------------------------------------------------------------

.not-found {

  .text {
    display: inline-block;
    vertical-align: middle;
  }


  .image {
    display: inline-block;
    text-align: center;
    vertical-align: middle;

    img {
      display: block;
      margin: 0 auto;
      width: 80%;
    }
  }

}